.grid-body > .rows > .grid-row > .data-row > .grid-static-col[data-fieldtype="Button"] > .field-area {
    display: block !important;
    margin-left: 0 !important;
}

.grid-body > .rows > .grid-row > .data-row > .grid-static-col[data-fieldtype="Button"] > .static-area {
    display: none !important;
}

.grid-body > .rows > .grid-row > .data-row > .grid-static-col[data-fieldtype="Button"] .frappe-control {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
}

.grid-body > .rows > .grid-row > .data-row > .grid-static-col[data-fieldtype="Button"] {
    padding: 0 !important;
    margin-left: 0 !important
}

.form-in-grid .btn {
    box-shadow: var(--btn-shadow);
}

.form-grid .grid-static-col .ellipsis {
    white-space: unset !important;
	overflow: hidden;
	text-overflow: unset !important;
	max-width: 100%;
	vertical-align: middle;
	word-break: break-all;
}